{% extends "layout.html" %}
{% set pageId = "page-form" %}
{% block title %}
  <title>Criar um ponto de coleta</title>
{% endblock title %}
{% block styles %}
  <link rel="stylesheet" href="/styles/page-form.css"/>
{% endblock styles %}
{% block content %}
  {% include "partials/page-header.html" %}
  <form action="">
    <h1>Cadastro do ponto de coleta</h1>
    <fieldset>
      <legend>
        <h2>Dados da entidade</h2>
      </legend>
      <div class="field-group">
        <div class="field">
          <label for="name">Nome da entidade</label>
          <input type="text" name="name" required/>
        </div>
        <div class="field">
          <label for="name">Imagem da entidade</label>
          <input type="url" name="image" placeholder="https://" required/>
        </div>
      </div>
      <div class="field-group">
        <div class="field">
          <label for="address">Endereço</label>
          <input type="text" name="address" required/>
        </div>
        <div class="field">
          <label for="address2">Número/Complemento</label>
          <input type="text" name="address2" required/>
        </div>
      </div>
      <div class="field-group">
        <div class="field">
          <label for="state">Estado</label>
          <select name="uf">
            <option value="">Selecione o estado</option>
          </select>
          <input type="hidden" name="state"/>
        </div>
        <div class="field">
          <label for="city">Cidade</label>
          <select name="city" disabled required>
            <option value="">Selecione a Cidade</option>
          </select>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>
        <h2>Ítens de coleta</h2>
        <span>Selecione um ou mais itens</span>
      </legend>
      <div class="itens-grid">
        <li data-id="1">
          <img src="./assets/Grupo 96.svg" alt="Lixo eletrônico">
          <span>Eletrônico</span>
        </li>
        <li data-id="2">
          <img src="./assets/Grupo 97.svg" alt="Plástico">
          <span>Plástico</span>
        </li>
        <li data-id="3">
          <img src="./assets/Grupo 98.svg" alt="Metal">
          <span>Metal</span>
        </li>
        <li data-id="4">
          <img src="./assets/Grupo 99.svg" alt="Vidro">
          <span>Vidro</span>
        </li>
        <li data-id="5">
          <img src="./assets/Grupo 100.svg" alt="Papel">
          <span>Papel</span>
        </li>
        <li data-id="6">
          <img src="./assets/Grupo 102.svg" alt="Orgânico">
          <span>Orgânico</span>
        </li>
      </div>
      <input type="hidden" name="itens">
    </fieldset>
    <button type="submit">Cadastrar ponto de coleta</button>
  </form>
{% endblock content %}
{% block scripts %}
  <script src="/scripts/page2.js"></script>
{% endblock scripts %}