#page-form .content {
  width: 90%;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* estilização do header */
#page-form header {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-form header a {
  display: flex;
  color: var(--title-color);
  font-weight: 600;
}

/* estilização do botao de cadastro com icone */
#page-form header a span {
  display: flex;
  background-image: url('../assets/arrow-left-thick.svg');
  margin-right: 16px;
  width: 20px;
  height: 20px;
}

/* estilização de formulário */
form {
  background-color: #ffff;
  margin: 80px auto;
  padding: 64px;
  border-radius: 8px;
  max-width: 730px;
}

form h1 {
  font-size: 36px;

}

form fieldset {
  margin-top: 64px;
  border: 0;

}

form legend {
  margin-bottom: 40px;
}

form .field {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

}

form .field-group {
  display: flex;

}

form input,
form select {
  outline: none;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  padding: 16px 24px;
  font-size: 16px;
}

form input,
form select:focus,
form input,
form select:valid {
  border-color: rgb(122, 255, 110);
}

form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form label {
  font-size: 14px;
  margin-bottom: 8px;
}

/* para aplicar margem no segundo field input */
form .field-group .field+.field {
  margin-left: 24px;
}

/* estilização do botão do formulário */
form button {
  width: 260px;
  height: 56px;

  background-color: var(--primary-color);
  border-radius: 8px;

  color: rgb(230, 230, 230);
  font-weight: bold;
  font-size: 16px;

  border: 0;
  margin-top: 40px;
  transition: 400ms;
}

form button:hover {
  background-color: #2fb86e;
}

.itens-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.itens-grid li {
  background-color: #f0f0f0;
  list-style: none;
  border: 2px solid #f0f0f0;
  border-radius: 8px;
  height: 180px;
  padding: 32px 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
}

.itens-grid li span {
  margin-top: 12px;
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--title-color);

}

.itens-grid li.selected {
  background: #e1faec;
  border: 2px solid #32cb39;
}

.itens-grid li img,
.itens-grid li span {
  pointer-events: none;
}