body::after {
  content: "";
  position: fixed;
  background: white;
  top: 300px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

#page-search-results .content {
  width: 90%;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* estilização do header */
#page-search-results header {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-search-results header a {
  display: flex;
  color: var(--title-color);
  font-weight: 600;
}

/* estilização do botao de cadastro com icone */
#page-search-results header a span {
  display: flex;
  background-image: url('../assets/arrow-left-thick.svg');
  margin-right: 16px;
  width: 20px;
  height: 20px;
}

/* Estilização da quantidade da busca */
main {
  margin: 48px;

}

main h4 {
  font-weight: normal;
  font-family: 'roboto' sans-serif;

  margin-bottom: 32px;

}

/* Estilização dos cards */

main .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 24px;
}

main .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

main .card h1 {
  margin-top: 32px;
  font-size: 36px;
  line-height: 41px;
  color: #322153;
}

main .card h3 {
  margin: 24px 0;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-size: 500;
  line-height: 34px;
  color: var(--primary-color);
}

main .card p {
  font-size: 16px;
  line-height: 26px;
  color: #6c6c80;
}